@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sixtyfour+Convergence&display=swap');


 
*{

    font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 93.5;
}







.right , .left{


    list-style: none !important;
display: flex !important;
background-color: #0D0907 !important;

    
}


.right , .left li a{
    text-decoration: none;
    background-color: #0D0907 !important; 
    color: #2B2B2B  !important;
    font-weight: bold !important;
    
    
    
    }
.nav{
    background-color: #0D0907 !important;
    color: #EDF0F2 !important;


    
}


    .navbar{
        background-color:  #2B2B2B !important;
        color: #EDF0F2 !important;


    }

    .navbar-collapse{
        background-color:  #2B2B2B !important;
        color: #EDF0F2 !important;


    }



    .navbar-collapse a {

        color: #EDF0F2 !important;


    }


    .dropdown-item:hover{
        background-color:  #EDF0F2 !important;

        color: black !important;


    }





   

    .navbar-brand img{
        width: 4rem !important;
        height: 4rem !important;
        font-size: 2rem !important;
        font-weight: bold;
       
        
        
        }



        .dropdown-menu{
            background-color:  #2B2B2B !important;
            color: #EDF0F2 !important;



        }


        .btn-secondary{
            width: 10rem;
            background-color: #0D0907 !important;
             color: #EDF0F2 !important;





        }

          .btn-secondary{
            width: 10rem;
            background-color: #0D0907 !important;
             color: #EDF0F2 !important;






        }





        


        .text-bg-dark h5{
            margin-left:13rem !important;

            margin-top: 9rem !important;
            font-size:4rem !important;
          border-radius: none;



            
        }

          .phooo img    {
            border-radius: none !important;
            
        }




      

        .para-top a{
           text-decoration: none;
         }
 



        .para-top{
            font-size: 2rem !important;
            color:  #2B2B2B;
            font-size: 3rem;
            margin-left: 7rem;

            margin-top: 2rem;



        }



        .title{
            color:  #2B2B2B !important;
            font-size: 3rem !important;
            width: 45rem;
            margin-top:3rem !important;
        } 




            .cards  .card img{
            object-fit: cover !important;
            width: 100% !important; 
            height: 15rem !important;
            transition: transform 0.5s ease;
        } 




        .cards .card:hover img {
            transform:scale(1.1);


        }


        .cards .card{
            background-color:  #2B2B2B !important;
            color: #EDF0F2 !important;
            height: 20rem !important;
            overflow: hidden;
            position: relative;
            transition:transform  ease;
            transition-duration: 0.4s;
            margin-bottom: 2rem;
            overflow: hidden !important;
    
            

        }



        .cards    .card:hover{
           
           transform: scaleY(1.1) !important;
           transform-origin: bottom;

           

        }


       .cards{
        background-color: black;



       }



     .card-body{
       
        display: flex !important;
        justify-content:center !important;
        align-items: center !important;
        flex-direction: column !important;
        padding: 1rem !important;
        
       

        transition: transform  0.5s ease;
        
    

     }


     .card:hover  .card-body{
         transform:translateY(-2rem);
         background-color: #2B2B2B;
         width: 100% !important;
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
        
    

     }


        .icon-part{
            color: #EDF0F2 !important;
           opacity:0 !important;
    
        
        }



        

        .card:hover .icon-part{
            color: #EDF0F2 !important;
           opacity:1 !important;
        
        }
         

         
        .icon-part a{
            color: #EDF0F2 !important;
            text-decoration: none;
            width: 2rem !important;
            height: 2rem !important;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

          
        
          
        }




        .icon-part a:hover{

            color:#2B2B2B !important;

          background-color: #ffffff;
        
          
        }




@media(max-width:576px){



    .top-photo h2{
        font-size: 1rem !important;
        color: #EDF0F2 !important;
 
     }



     .top-photo a{
        text-decoration: none;
        font-size:0.5rem !important;
      }


      .para-top{
        font-size: 0.5rem !important;
        margin-left:2rem !important;

        margin-top: 1rem !important;



    }



    .title{
        color:  #2B2B2B !important;
        font-size: 1rem !important;
        width: 20rem;
        margin-top: 1rem !important;
    } 


    .text-bg-dark h5{
        margin-left:2rem !important;

        margin-top: 1rem !important;
        font-size:1rem !important;
    




        
    }





}





