@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sixtyfour+Convergence&display=swap');


 
*{

    font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 93.5;
}







.right , .left{


    list-style: none !important;
display: flex !important;
background-color: #0D0907 !important;

    
}


.right , .left li a{
    text-decoration: none;
    background-color: #0D0907 !important; 
    color: #2B2B2B  !important;
    font-weight: bold !important;
    
    
    
    }
.nav{
    background-color: #0D0907 !important;
    color: #EDF0F2 !important;


    
}


    .navbar{
        background-color:  #2B2B2B !important;
        color: #EDF0F2 !important;


    }

    .navbar-collapse{
        background-color:  #2B2B2B !important;
        color: #EDF0F2 !important;


    }



    .navbar-collapse a {

        color: #EDF0F2 !important;


    }


    .dropdown-item:hover{
        background-color:  #EDF0F2 !important;

        color: black !important;


    }





   

    .navbar-brand img{
        width: 4rem !important;
        height: 4rem !important;
        font-size: 2rem !important;
        font-weight: bold;
       
        
        
        }



        .dropdown-menu{
            background-color:  #2B2B2B !important;
            color: #EDF0F2 !important;



        }


        .btn-secondary{
            width: 10rem;
            background-color: #0D0907 !important;
             color: #EDF0F2 !important;





        }

          .btn-secondary{
            width: 10rem;
            background-color: #0D0907 !important;
             color: #EDF0F2 !important;






        }





        


        .text-bg-dark h5{
            margin-left:13rem !important;

            margin-top: 9rem !important;
            font-size:4rem !important;
          border-radius: none;



            
        }

          .phooo img    {
            border-radius: none !important;
            
        }




      

        .para-top a{
           text-decoration: none;
         }
 



        .para-top{
            font-size: 2rem !important;
            color:  #2B2B2B;
            font-size: 3rem;
            margin-left: 7rem;

            margin-top: 2rem;



        }



        .title{
            color:  #2B2B2B !important;
            font-size: 3rem !important;
            width: 45rem;
            margin-top:3rem !important;
        } 




            .cards  .card img{
            object-fit: cover !important;
            width: 100% !important; 
            height: 15rem !important;
            transition: transform 0.5s ease;
        } 




        .cards .card:hover img {
            transform:scale(1.1);


        }


        .cards .card{
            background-color:  #2B2B2B !important;
            color: #EDF0F2 !important;
            height: 20rem !important;
            overflow: hidden;
            position: relative;
            transition:transform  ease;
            transition-duration: 0.4s;
            margin-bottom: 2rem;
            overflow: hidden !important;
    
            

        }



        .cards    .card:hover{
           
           transform: scaleY(1.1) !important;
           transform-origin: bottom;

           

        }


       .cards{
        background-color: black;



       }



     .card-body{
       
        display: flex !important;
        justify-content:center !important;
        align-items: center !important;
        flex-direction: column !important;
        padding: 1rem !important;
        
       

        transition: transform  0.5s ease;
        
    

     }


     .card:hover  .card-body{
         transform:translateY(-2rem);
         background-color: #2B2B2B;
         width: 100% !important;
         position: absolute;
         left: 0;
         right: 0;
         bottom: 0;
        
    

     }


        .icon-part{
            color: #EDF0F2 !important;
           opacity:0 !important;
    
        
        }



        

        .card:hover .icon-part{
            color: #EDF0F2 !important;
           opacity:1 !important;
        
        }
         

         
        .icon-part a{
            color: #EDF0F2 !important;
            text-decoration: none;
            width: 2rem !important;
            height: 2rem !important;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

          
        
          
        }




        .icon-part a:hover{

            color:#2B2B2B !important;

          background-color: #ffffff;
        
          
        }



        .fofo{
            margin-top: 0.5rem;
            /* background:url('https://graveplotpodcast.com/wp-content/uploads/2016/08/Screen-Shot-2016-08-16-at-5.29.14-AM.jpg') center no-repeat; */
            /* background-size: cover; */

            background-color: rgba(13, 9, 8, 0.89);



        }




        .footer{
            flex-direction: column !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            gap:2rem;
           



        }

        .footerone{
        
         flex-direction: row !important;
         display: flex !important;
         justify-content: space-between !important;
         align-items: center !important;
         gap: 0 !important;
         gap: 2rem !important;
         width: 100%;
         margin-top: 6rem !important;

         color: #0D0907 !important;



        }



        .box-two-list{
            list-style: none;
            line-height:3rem !important;




        }


        .box-one p {

            width: 15rem !important;
            text-wrap: wrap !important;
            text-align:left;




        }

          .end-icons{
            display: flex !important;
            flex-direction: row !important;
            justify-content:flex-start !important;
            align-items: center !important;
            gap: 1rem;
            color: #0D0907;
        

          }




          .end-icons a{
            color: #0D0907;
          
        

          }


          .end-icons a{

          width: 2rem !important;
          height: 2rem !important;
            border: #0d0907ee solid 0.125rem !important;
            border-radius: 0.5rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            
        }

        



        .box-three a {

            text-decoration: none;
            transition:font-weight  0.3s   ease;
            color: #0D0907 !important;
            font-weight: lighter;
          
            
        }

        .box-three p{
          
    
            color: #2B2B2B;
          
            
        }


      .box-three a:hover {
       font-weight: bold;
       box-shadow: 3px 3px #2b2b2b00, -1em 0 .4em #2b2b2b00;
       
            
        }

        .box-four{

            display: flex  !important;
            justify-content : flex-start!important;
            flex-direction: column !important;
            align-items: flex-start !important;
            
           
        }

        
        .box-four p {

            width:15rem;


        
           
        }

        .input-group-lg{
           
            width: 20rem !important;
            height: 5rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2b2b2b00 !important;

          


        }




        .buttonn{
            height:3rem !important;
            width:8.5rem !important;
            border-radius: 0.5rem !important;
            position: absolute;
            right:5rem !important;
           /* margin-top: 1rem !important;
           margin-bottom:1rem !important; */
           background-color: hsl(0, 0%, 0%);
           color: #EDF0F2;
            

        

        }

        .form-control{

          background-color: rgba(128, 255, 0, 0) !important;
            width: 20rem !important;
            height: 4rem !important;
            border-radius: 0.5rem !important;
            position: relative;

        }



        .footertwo{
            border-top: hwb(204 93% 5% / 0.144) solid 0.125rem;
          

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    gap:16rem;
    color: #0D0907;




        }



        .start-button{
          
            width: auto;
            /* margin-left: 94rem; */



        }



        .start-button  .btn{
            background-color: #000000;
            color: #EDF0F2;


        }


        
        .start-button      .btn:hover{
            
            background-color: #2B2B2B;
            color: #EDF0F2;



        }




        .texts-footer{
            transform:translateX(25rem) !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height:1.5rem;
            width:70rem;
margin-right: 9rem;
           margin-top: 1.5rem;

        }


        .texts-footer a {
          text-decoration: none;
         color: hsl(0, 100%, 100%);
        }



    
   .copyright{


width: 70rem;
   }

    




@media(max-width:576px){



    .top-photo h2{
        font-size: 1rem !important;
        color: #EDF0F2 !important;
 
     }



     .top-photo a{
        text-decoration: none;
        font-size:0.5rem !important;
      }


      .para-top{
        font-size: 0.5rem !important;
        margin-left:2rem !important;

        margin-top: 1rem !important;



    }



    .title{
        color:  #2B2B2B !important;
        font-size: 1rem !important;
        width: 20rem;
        margin-top: 1rem !important;
    } 


    .text-bg-dark h5{
        margin-left:2rem !important;

        margin-top: 1rem !important;
        font-size:1rem !important;
    




        
    }



    .cards  .card img{
        object-fit: cover !important;
        width: 100% !important; 
        height: 15rem !important;
        transition: transform 0.5s ease;
    } 




    .cards .card:hover img {
        transform:scale(1.1);


    }


    .cards .card{
        background-color:  #2B2B2B !important;
        color: #EDF0F2 !important;
        height: 20rem !important;
        overflow: hidden;
        position: relative;
        transition:transform  ease;
        transition-duration: 0.4s;
        margin-bottom: 2rem;
        overflow: hidden !important;

        

    }



    .cards    .card:hover{
       
       transform: scaleY(1.1) !important;
       transform-origin: bottom;

       

    }


   .cards{
    background-color: black;



   }



 .card-body{
   
    display: flex !important;
    justify-content:center !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 1rem !important;
    
   

    transition: transform  0.5s ease;
    


 }


 .card:hover  .card-body{
     transform:translateY(-2rem);
     background-color: #2B2B2B;
     width: 100% !important;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
    


 }


    .icon-part{
        color: #EDF0F2 !important;
       opacity:0 !important;

    
    }



    

    .card:hover .icon-part{
        color: #EDF0F2 !important;
       opacity:1 !important;
    
    }
     

     
    .icon-part a{
        color: #EDF0F2 !important;
        text-decoration: none;
        width: 2rem !important;
        height: 2rem !important;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

      
    
      
    }




    .icon-part a:hover{

        color:#2B2B2B !important;

      background-color: #ffffff;
    
      
    }



































    .footer{
        flex-direction: column !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap:2rem;
       



    }

    .footerone{
    
     flex-direction: column !important;
     display: flex !important;
     justify-content: center!important;
     align-items:start !important;
     gap: 1rem !important;
     width: 100%;
     margin-top: 1rem !important;
     font-size: 0.9rem;

     color: #0D0907 !important;
     text-align: left;
    



    }



    .box-one{
         flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
    }











    .box-two-list{
        list-style: none;
        line-height:0.5rem !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content:center !important;
        align-items:flex-start!important;
        text-align: left !important;
        /* margin-right: 3rem; */
      
        padding: 0;
        width: 15rem;

       




    }

    .box-two h2{
         text-align: left;
        /* margin-right:10rem !important; */
        width: 15rem;

    }


    .box-two{
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center!important;
        text-align: left !important;
      
        padding: 0 ;
        width: 15rem;


    }





    .box-one p {

        width: 15rem !important;
        text-wrap: wrap !important;
        text-align:left;




    }

      .end-icons{
        display: flex !important;
        flex-direction: row !important;
        justify-content:flex-start !important;
        align-items: flex-start !important;
        gap: 0.25rem;
        color: #0D0907;
        margin-right: 6rem;
    

      }




      .end-icons a{
        color: #0D0907;
        text-align: left;
      
    

      }


      .end-icons a{

      width: 2rem !important;
      height: 2rem !important;
        border: #0d0907ee solid 0.125rem !important;
        border-radius: 0.5rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        
    }

    


.box-three{
    display: flex !important;
    flex-direction: column !important;
    justify-content:flex-start !important;
    align-items: flex-start !important;
   
   margin-right: 3rem;
   text-align: left;




}





    .box-three a {

        text-decoration: none;
        transition:font-weight  0.3s   ease;
        color: #0D0907 !important;
        font-weight: lighter;
       
      
        
    }

    .box-three p{
      
        text-align: left !important;
        color: #2B2B2B;
        margin-left: 0em;
        line-height: 0.5rem;
      
        
    }



    .box-four{

        display: flex  !important;
        justify-content : center!important;
        flex-direction: column !important;
        align-items:start !important;
        margin-left:0rem;
       
    }

    
    .box-four p {
      text-align: left;
        width:16rem;



    
       
    }

    .input-group-lg{
       
        width:20rem !important;
        height: 5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
       

    }




    .buttonn{
        height:3rem !important;
        width:8.5rem !important;
        border-radius: 0.5rem !important;
        position: absolute;
        right:2rem !important;
       /* margin-top: 1rem !important;
       margin-bottom:1rem !important; */
       background-color: hsl(0, 0%, 0%);
       color: #EDF0F2;
        

    

    }

    .form-control{

      background-color: rgba(128, 255, 0, 0) !important;
        width: 20rem !important;
        height: 4rem !important;
        border-radius: 0.5rem !important;
        position: relative;

    }



    .footertwo{
        border-top: hwb(204 93% 5% / 0.144) solid 0.125rem;
      

display: flex !important;
justify-content: center !important;
align-items: center !important;
flex-direction: column !important;
gap:0.5rem;
color: #0D0907;




    }



    .start-button{
       margin-left: 15rem !important;
       margin-bottom: 1rem;
        width: auto;
        /* margin-left: 94rem; */
      



    }



    .start-button  .btn{
        background-color: #000000;
        color: #EDF0F2;


    }


    
    .start-button      .btn:hover{
        
        background-color: #2B2B2B;
        color: #EDF0F2;



    }



    .footertwo{
        font-size: 0.9rem;
        gap: 0 !important;
        display: flex;
        flex-direction: column !important;
        justify-content:start !important;
    }



    .texts-footer{
        transform:translateX(2rem) !important;
     
        line-height:1.5rem;
        width:15rem;
       margin-top: 0rem;
       gap: 0;
      text-align: center;
       margin-right:  4rem;
       height:3rem ;
      

    }


    .texts-footer a {
      text-decoration: none;
     color: hsl(0, 100%, 100%);
     
    }

    .copyright{
     
        margin-bottom: 0 !important;
        height:1.5rem ;

    }



    





}





